{% extends 'base.html' %}
{% block title %}Coiny - Przychody{% endblock %}
{% block body %}
<div class="container-fluid mainContent justify-content-center">
    <div class="info-board">
        <ul class="nav nav-tabs" id="tableTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="theWeekTab" href="/invoices/showThisWeekIncomeInvoices" role="tab"
                    aria-controls="nav-home" aria-selected="true">Bieżący tydzień</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/invoices/showThisMonthIncomeInvoices">Bieżący miesiąc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/invoices/showLastMonthIncomeInvoices">Poprzedni miesiąc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#collapseChoosePeriod" aria-expanded="false"
                    aria-controls="collapseChoosePeriod">Wybierz okres</a>
            </li>
        </ul>
        <div class="collapse" id="collapseChoosePeriod">
            <div class="card card-body mt-2">
                <form action="/invoices/showChosenPeriodIncomeInvoices" method="post">
                    <div class="form-group">
                        <label>Podaj datę początkową</label>
                        <input class="form-control" type="date" name="startingDate">
                    </div>
                    <div class="form-group">
                        <label>Podaj datę końcową</label>
                        <input class="form-control" type="date" name="endingDate">
                    </div>
                    <input class="mainBtn" type="submit" name="submit" value="Wybierz">
                </form>
            </div>
        </div>

        <table class="table bg-light table-striped invoicesTable">
            <thead>
                <tr>
                    <th scope="col">Kwota</th>
                    <th scope="col">Numer faktury</th>
                    <th scope="col">Data wystawienia</th>
                    <th scope="col">Data płatności</th>
                    <th scope="col">Kontrahent</th>
                    <th scope="col">Komentarz</th>
                </tr>
            </thead>
            <tbody>
                {% if invoices is not empty %}
                {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.money }}</td>
                    <td>{{ invoice.number }}</td>
                    <td>{{ invoice.date }}</td>
                    <td>{{ invoice.payment_date }}</td>
                    <td>{{ invoice.contractor }}</td>
                    <td>{{ invoice.comment }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}