{% extends 'sign-base.html' %}
{% block title %}Coiny - Zarejestruj się{% endblock %}
{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/validatePassword.js"></script>
<script>

    $(document).ready(function(){
        $('#registerForm').validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                 //   remote: "/account/validate-email"
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                } 
            }, 
            messages: {
                email: {
                    remote: "email already taken"
                }
            }
        });
        /**
         * Show password toggle button
         */ 
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>
{% endblock %}
{% block body %}
<div class="d-flex flex-row">
    <h2>Zarejestruj się</h2>
</div>
<div class="mx-lg-2 mt-3">
    {% if user.errors is not empty %}
    <p>Błędy:</p>
    <ul>
        {% for error in user.errors %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="/signup/create" id="registerForm">
        <div class="form-group">
            <label>Podaj email:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="/img/114-user.png"></span>
                </div>
                <input class="form-control inputSlot" type="email" name="email" value="{{user.email}}" required>
            </div>
        </div>
        <div class="form-group">
            <label>Podaj hasło:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="/img/144-lock.png"></span>
                </div>
                <input class="form-control inputSlot" type="password" name="password" id="inputPassword" required>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <input class="mainBtn" type="submit" name="submit" value="Zarejestruj się">
        </div>
    </form>
</div>
{% endblock %}