/*     COLOURS
rgb(231, 68, 95) - pink 
*/
body{
   margin: 0;
   padding: 0;
}
.alert{
    position: fixed; 
    z-index: 2;
    width: 100vw;
    border-bottom: 1px solid;
}
.container-fluid.entryPage{
    background-color:  rgb(28, 37, 56);
    min-height: 100vh;

}
.container.entryPage{
    background-color: white;
    min-height: 100vh;
    box-shadow: 0 0 20px rgb(16, 19, 24);
    box-sizing: border-box;
    padding: 0;
}
.banner-wrapper{
    height: 100vh;
    background-image:linear-gradient(rgb(57, 67, 80, 0.8),rgba(57, 67, 80, 0.8)),url("/img/change.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.logo{
    width:100%;
    max-width: 80px;
    height: auto;
    padding: 5px;
}

@media screen and (max-width: 768px){

    .banner-wrapper{
        height: 120px;
        font-size: 0.5em;
    } 
    .banner-wrapper h1{
        margin-top: 0px;
    }   
}

.mainContent{
    min-height: 100vh;
    height: 100%;
    padding: 10px 20px;
    background-color: rgb(222, 227, 233);
    padding-left: 270px;
    box-sizing: border-box;
}

a.link{
    color: rgb(231, 68, 95);
}

.imgBanner{
    filter: sepia();
}

h1{
    font-weight: 600;
    font-size: 2em;
}

h2{
    font-size: 1.4em;
    font-weight: 700;
    background-image: linear-gradient(to bottom right, rgb(219, 163, 59), rgb(204, 57, 81));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h4{
    color: rgb(218, 98, 61);
}
/*
rgb(219, 163, 59), rgb(204, 57, 81)
rgb(231, 193, 68), rgb(231, 68, 95)
rgb(192, 117, 47), rgb(201, 45, 45)*/

.info-board{
    background-color: rgb(241, 241, 241);
    padding: 20px;
    box-shadow: 0 0 1em rgb(93, 102, 109);
}

.info-board h3{
    font-size: 1.2em;
}

.info-board p{
    margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
    .mainContent {
        padding-left: 80px;
        padding-right: 0;
    }
}

@media screen and (max-width: 576px) {
    .mainContent {
        padding-left: 40px;
    }
}

.row {
    margin: 0;
    padding: 0;
}
/*----------------------MAIN NAVIGATION STYLES------------------------*/

.main-menu{
    float: left;
    position: fixed; 
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    height: 100%;    
    box-shadow: 0 0 1em rgb(93, 102, 109);
    color: whitesmoke;
    z-index: 1;
    background-position: center;
    background-image: fixed;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(51, 69, 90, 0.9), rgb(4, 11, 26, 0.9)), url("/img/change.jpg");
}

.main-menu li, .main-menu li ul li{
    min-width: 100%;
    max-width: 100%;
    border-top: 1px solid rgb(34, 42, 59);
}

a.dropdown-toggle{
    line-height: 39px;
}

.main-menu li:active{
    background-color: white;
    color:rgb(34, 42, 59);
}

.main-menu li:hover{
    background: linear-gradient(rgb(66, 93, 124, 0.4),rgb(66, 93, 124, 0.4));
}

.main-menu .nav li:active{
    background: linear-gradient(rgb(66, 93, 124),rgb(66, 93, 124));
}

@media screen and (max-width: 768px){
    #navCollapse{
        cursor: pointer;
    }

    #sidebar.hidden{
        min-width: 80px;
        max-width: 80px;
    }

    #sidebar.hidden ul.nav{
        display: none;
    }

    .arrow {
        width: 0; 
        height: 0; 
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid white;
        display: inline-block;
        margin-top: 7px;
        margin-left: 7px;
      }

    #sidebar.hidden .arrow {
        border-left: 6px solid white;
        border-right: 0;
      }
}
@media screen and (max-width: 576px){
    #navCollapse{
        cursor: pointer;
    }

    #sidebar.hidden{
        min-width: 40px;
        max-width: 40px;
    }

    #sidebar.hidden h2{
        display: none;
    }

    #sidebar.hidden ul.nav{
        display: none;
    } 
    #sidebar.hidden .arrow {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid white;
        border-right: 0;
      }
}

/*----------------------TRANSACTIONS DISPLAY STYLES------------------------*/

.totalIncomesBox{
    background-image: linear-gradient(to bottom right, rgb(231, 193, 68), rgb(231, 68, 95));
    color: white;
    padding: 0.8em;
    border-radius: 0.1em;
}
.totalIncomesBox h3{
    font-weight: 600;
    font-size: 1.2em;
    color: white;
}
.totalIncomesBox p.incomeBox{
    font-size: 1.1em;
    line-height: 1.2em;
    color: white;
}
.totalIncomesBox p.incomeBoxInt{
    font-size: 2em;
    margin-bottom: 0;
    color: white;
}

/*----------------------BUTTON STYLES------------------------*/

.mainBtn{
    margin: 5px 0;
    border: none;
    border-radius: 20px;
    color: white;
    max-width: 300px;
    min-width: 150px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 5px rgb(16, 19, 24);
    background-image: linear-gradient(to bottom right, rgb(219, 163, 59), rgb(204, 57, 81));
}

.mainBtn:hover{
    background-image: linear-gradient(to bottom right, rgb(231, 193, 68), rgb(231, 68, 95));
}

.mainBtn:active{
    background-image: linear-gradient(to bottom right, rgb(192, 117, 47), rgb(201, 45, 45));
}

.showTransactionsBtn{
    background-image: linear-gradient(rgb(43, 59, 80), rgb(8, 17, 34));
    min-height: 50px;
    max-height: 90px;
}

@media screen and (max-width: 500px){
    .mainBtn{
        max-width: 100%;
        width: 100%;
    }

}
img.icon{   
    height:100px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.navbar-btn:hover{
    color: rgba(255,255,255,.8);
}
/*
[type="button"]{
    border: none;
    border-radius: 20px;
    padding-bottom: 0.1em;
    color: whitesmoke;
    background-image: linear-gradient(to top right, rgb(51, 69, 90), rgb(34, 42, 59));
    cursor: pointer;
}
*/
.transactionsBtn:hover{
    background-color: rgb(44, 72, 97);
}

.error{
    color: red;
}

/*----------------------FORM STYLES------------------------*/
/* Remove default form styling */

textarea:hover, 
textarea:active, 
textarea:focus, 
label:focus{
    outline: 0px;
    -webkit-appearance:none;
    box-shadow: none !important;
    background-color: inherit !important;
}

input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label{
    color:rgb(43, 59, 80);
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 0;
}

.inputSlot{
    background-color: inherit;
}
input:focus ~ label{
    
}

.formWrapper{
    height: inherit;
    max-height: inherit;
    padding: 20px;
    vertical-align: middle;
    width: 100%;
    max-width: 600px;
}

.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(114, 124, 133);
}

option{
    background: inherit;
}

input.form-control.inputSlot:focus, 
input.form-control.inputSlot.active:focus, 
input.form-control.inputSlot:active:focus,
select.form-control.inputSlot:focus, 
select.form-control.inputSlot.active:focus, 
select.form-control.inputSlot:active:focus
textarea.form-control.inputSlot:focus, 
textarea.form-control.inputSlot.active:focus, 
textarea.form-control.inputSlot:active:focus{
    box-shadow: none;
    border: none;
    outline: none;
    background: inherit;
    border-bottom: 2px solid rgb(218, 98, 61);
    color: rgb(25, 44, 61);
}

.formCheck{
    padding-bottom: 10px;
}

#invoiceDropdown.hidden{
display: none;
}

/*----------------------GLOBAL TABLE STYLES------------------------*/

@media screen and (max-width: 768px){
    table{
        display: block;
    }

    table thead {
        display: none; 
    }

    .table td { 
        display: block;
        position: relative;
        padding: 0.25rem;
    }
    
	table td::before { 
        padding-right: 7px;
        font-weight: bold;
        
    }
/* Headers for incomes tables*/
    .incomeTable td:nth-of-type(1):before { content: "Kwota:"; }
    .incomeTable td:nth-of-type(2):before { content: "Data:"; }
    .incomeTable td:nth-of-type(3):before { content: "Rodzaj przychodu:"; }
    .incomeTable td:nth-of-type(4):before { content: "Komentarz:"; }
    /* Headers for expenses tables*/
    .expenseTable td:nth-of-type(1):before { content: "Kwota:"; }
    .expenseTable td:nth-of-type(2):before { content: "Data:"; }
    .expenseTable td:nth-of-type(3):before { content: "Sposób płatności:"; }
    .expenseTable td:nth-of-type(3):before { content: "Rodzaj wydatku:"; }
    .expenseTable td:nth-of-type(4):before { content: "Komentarz:"; }
/* Headers for invoices tables*/
    .invoiceTable td:nth-of-type(1):before { content: "Kwota"; }
    .invoiceTable td:nth-of-type(2):before { content: "Numer faktury"; }
    .invoiceTable td:nth-of-type(3):before { content: "Data wystawienia"; }
    .invoiceTable td:nth-of-type(4):before { content: "Data płatności"; }
    .invoiceTable td:nth-of-type(5):before { content: "Kontrahent"; }
    .invoiceTable td:nth-of-type(6):before { content: "Komentarz"; }
}

/*----------------------TABLES NAVIGATION STYLES------------------------*/
.tableNav a.nav-link{
    display: inline-block;
}

/*----------------------SETTINGS PAGE STYLES------------------------*/
#settingsCategories li{
    list-style-type: none;
    width: 100%;

}

.editBtn i{
    color:rgb(183, 212, 231);
 }

.deleteBtn i{
    color:rgb(236, 184, 184);
 }
.settingsBtn{
    margin: 0 5px;
    padding-bottom: 0.4em;
    padding-top: 0.2em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 5px rgb(16, 19, 24);
}
.editBtn{

    background-color:rgb(68, 109, 136);
 }
 .editBtn:hover{

    background-color:rgb(96, 141, 172);
 }
 .editBtn:active{

    background-color:rgb(55, 97, 124);
 }

 .deleteBtn{
    background-color: rgb(167, 39, 39);
 }
 .deleteBtn:hover{
    background-color: rgb(209, 66, 66);
 }
 .deleteBtn:active{
    background-color: rgb(131, 36, 36);
 }