{% extends 'base.html' %}
{% block title %}Coiny - Ustawienia{% endblock %}
{% block body %}
<div class="container-fluid mainContent justify-content-center">
    <div class="text-center">
        <!-- <form method="post" action="/Invoices/deleteIncomeInvoiceAjax">
            <div class="form-group">
                <label>Id:</label>
                <input id="invoiceId" class="form-control inputSlot" name="invoiceId" type="number">
            </div>
            <div class="d-flex justify-content-center mt-3">
                <input class="mainBtn" type="submit" name="submit" value="Wyślij">
            </div>
        </form>-->
        <h1>Ustawienia</h1>
    </div>
    <div class="accordion" id="settingsCategories">
        <div class="card">
            <div class="card-header" id="headingIncomes">
                <h2 class="mb-0">
                    <button id="incomesBtn" class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#incomeCategories" aria-expanded="true" aria-controls="incomeCategories">
                        Kategorie przychodów
                    </button>
                </h2>
            </div>
            <div id="incomeCategories" class="collapse" aria-labelledby="headingIncomes"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="incomeCatsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if incomeCategories is not empty %}
                            {% for category in incomeCategories %}
                            <tr data-catId="{{ category.id }}">
                                <td class='category'>{{ category.name }} </td>
                                <td>
                                    <div class='btn-group' role='group' aria-label='buttonsGroup'>
                                        <button type='button' class='settingsBtn deleteBtn'><i
                                                class='icon-trash'></i></button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <button id="newIncomeCategory" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową
                        kategorię</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingExpenses">
                <h2 class="mb-0">
                    <button id="expensesBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#expenseCategories" aria-expanded="false" aria-controls="expenseCategories">
                        Kategorie wydatków
                    </button>
                </h2>
            </div>
            <div id="expenseCategories" class="collapse" aria-labelledby="headingExpenses"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="expenseCatsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Edytuj/Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if expenseCategories is not empty %}
                            {% for category in expenseCategories %}
                            <tr data-catId="{{ category.id }}">
                                <td class='category'>{{ category.name }} </td>
                                <td class='blockedFunds'>{{ category.blocked_funds }}</td>
                                <td>
                                    <div class='btn-group' role='group' aria-label='buttonsGroup'>
                                        <button type='button' class='settingsBtn editBtn'><i
                                                class='icon-edit'></i></button>
                                        <button type='button' class='settingsBtn deleteBtn'><i
                                                class='icon-trash'></i></button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <button id="newExpenseCategory" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową
                        kategorię</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingPayments">
                <h2 class="mb-0">
                    <button id="paymentsBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#paymentMethods" aria-expanded="false" aria-controls="paymentMethods">
                        Metody płatności
                    </button>
                </h2>
            </div>
            <div id="paymentMethods" class="collapse" aria-labelledby="headingPayments"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="paymentMetsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Edytuj/Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if paymentMethods is not empty %}
                            {% for method in paymentMethods %}
                            <tr data-catId="{{ method.id }}">
                                <td class='category'>{{ method.name }} </td>
                                <td class='blockedFunds'>{{ method.blocked_funds }}</td>
                                <td>
                                    <div class='btn-group' role='group' aria-label='buttonsGroup'>
                                        <button type='button' class='settingsBtn editBtn'><i
                                                class='icon-edit'></i></button>
                                        <button type='button' class='settingsBtn deleteBtn'><i
                                                class='icon-trash'></i></button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <button id="newPaymentMethod" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową metodę
                        płatności</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingPassword">
                <h2 class="mb-0">
                    <button id="passwordBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#forgottenPassword" aria-expanded="false" aria-controls="forgottenPassword">
                        Zresetuj hasło
                    </button>
                </h2>
            </div>
            <div id="forgottenPassword" class="collapse" aria-labelledby="headingPassword"
                data-parent="#settingsCategories">
                <div class="card-body formWrapper">
                    <form method="post" id="resetPassword">
                        <div class="form-group">
                            <label>Podaj adres email, na który mamy przysłać kod do zmiany hasła:</label>
                            <input id="email" class="form-control inputSlot" name="email" type="email"
                                placeholder="Email">
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <input class="mainBtn" type="submit" name="submit" value="Wyślij">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingDeleteAccount">
                <h2 class="mb-0">
                    <button id="deleteAccountBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#deleteAccount" aria-expanded="false" aria-controls="deleteAccount">
                        Usuń konto
                    </button>
                </h2>
            </div>
            <div id="deleteAccount" class="collapse" aria-labelledby="headingDeleteAccount"
                data-parent="#settingsCategories">
                <div class="card-body formWrapper">
                    <h3>Czy na pewno chcesz usunąć konto?</h3>
                    <p>Utracisz:</p>
                    <ul>
                        <li>Przychody</li>
                        <li>Wydatki</li>
                        <li>Faktury</li>
                        <li>Zapisane ustawienia</li>
                    </ul>
                    <div class="row justify-content-center text-center">
                        <a class="mainBtn cancelBtn" href="/Account/deleteAccount">Potwierdzam</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '/Modals/addIncomeCategoryModal.html'%} {% include '/Modals/addExpenseCategoryModal.html'%}
{% include '/Modals/addPaymentCategoryModal.html'%} {% include '/Modals/editCategoryModal.html'%}
{% include '/Modals/confirmModal.html'%} {% include '/Modals/alterTransactionsModal.html'%}
{% include '/Modals/editIncomeModal.html'%} {% include '/Modals/settingsPartialViews.html'%} {% endblock %}
{% block footer %}
<script src="/js/addCategory.js"></script>
<script src="/js/editCategory.js"></script>
<script src="/js/deleteCategory.js"></script>
<script src="/js/deleteIncomeCategory.js"></script>
<script src="/js/deleteExpenseCategory.js"></script>
<script src="/js/deletePaymentCategory.js"></script>
<script src="/js/deleteTransaction.js"></script>
<script src="/js/getCategories.js"></script>
<script src="/js/resetPassword.js"></script>
<script>
</script>
{% endblock %}