{% extends 'base.html' %}
{% block body %}
<div class="container-fluid mainContent justify-content-center">
    <div class="text-center">
        <h1>Ustawienia</h1>
    </div>
    <div class="accordion" id="settingsCategories">
        <div class="card">
            <div class="card-header" id="headingIncomes">
                <h2 class="mb-0">
                    <button id="incomesBtn" class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#incomeCategories" aria-expanded="true" aria-controls="incomeCategories">
                        Kategorie przychodów
                    </button>
                </h2>
            </div>
            <div id="incomeCategories" class="collapse" aria-labelledby="headingIncomes"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="incomeCatsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Edytuj/Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button id="newIncomeCategory" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową
                        kategorię</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingExpenses">
                <h2 class="mb-0">
                    <button id="expensesBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#expenseCategories" aria-expanded="false" aria-controls="expenseCategories">
                        Kategorie wydatków
                    </button>
                </h2>
            </div>
            <div id="expenseCategories" class="collapse" aria-labelledby="headingExpenses"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="expenseCatsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Edytuj/Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button id="newExpenseCategory" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową
                        kategorię</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingPayments">
                <h2 class="mb-0">
                    <button id="paymentsBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#paymentMethods" aria-expanded="false" aria-controls="paymentMethods">
                        Metody płatności
                    </button>
                </h2>
            </div>
            <div id="paymentMethods" class="collapse" aria-labelledby="headingPayments"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="paymentMetsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Edytuj/Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <button id="newPaymentMethod" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową metodę
                        płatności</button>
                </div>
            </div>
        </div>
    </div>

    {% include '/Modals/addCategoryModal.html'%}
    {% include '/Modals/editCategoryModal.html'%}

    {% endblock %}
    {% block footer %}
    <script src="/js/addCategory.js"></script>
    <script>
        $(document).ready(function () {
            getIncomeCategories();
            getExpenseCategories();
            getPaymentMethods();

            $('#fundsBlockCheckbox').onchange = function () {
                //  $('#blockedFunds').attr('disabled', !this.checked);
                $(this).next().prop("disabled", !$(this).prop("checked"));
            };
            // Fetch from DB income categories assigned to user using AJAX
            function getIncomeCategories() {
                $.ajax({
                    url: "/Settings/getIncomeCategories",
                    type: "POST",
                    dataType: 'json'
                }).done(function (categories) {
                    displayCategories(categories, '#incomeCatsList')
                }).fail(function (jqXHR, textStatus) {
                    console.log("No i klops!" + jqXHR + textStatus);
                    console.dir(arguments);
                });
            }

            // Fetch from DB expense categories assigned to user using AJAX
            function getExpenseCategories() {
                $.ajax({
                    url: "/Settings/getExpenseCategories",
                    type: "POST",
                    dataType: 'json'
                }).done(function (categories) {
                    displayCategories(categories, '#expenseCatsList');
                }).fail(function (jqXHR, textStatus) {
                    console.log("No i klops!" + jqXHR + textStatus);
                    console.dir(arguments);
                });
            }

            // Fetch from DB payment methods assigned to user using AJAX
            function getPaymentMethods() {
                $.ajax({
                    url: "/Settings/getPaymentMethods",
                    type: "POST",
                    dataType: 'json',
                }).done(function (categories) {
                    displayCategories(categories, '#paymentMetsList');
                }).fail(function (jqXHR, textStatus) {
                    console.log("No i klops!" + jqXHR + textStatus);
                    console.dir(arguments);
                });
            }

            function displayCategories(categories, table) {
                for (var i = 0; i < categories.length; i++) {
                    var row = '';
                    row = "<tr data-catId='" + categories[i].id + "'>" +
                        "<td class='category'>" + categories[i].name + "</td>" +
                        "<td class='blockedFunds'>" + categories[i].blocked_funds + "</td>" +
                        "<td>" + "<div class='btn-group' role='group' aria-label='buttonsGroup'>" +
                        "<button type='button' class='settingsBtn editBtn'><i class='icon-edit'></i></button>" +
                        "<button type='button' class='settingsBtn deleteBtn'><i class='icon-trash'></i></button>" + "</td>" +
                        "</tr>";
                    $(table + ' tbody').append(row);
                }
            }

            //Delete categories
            $("#incomeCatsList").on('click', ".deleteBtn", function () {
                var button = $(this);
                var toDelete = button.closest('tr');
                var id = toDelete.data('catid');
                if (confirm('Czy na pewno chcesz usunąć kategorię?')) {
                    $.ajax({
                        cache: false,
                        url: "/Settings/removeIncomeCategory",
                        type: "POST",
                        dataType: "json",
                        data: { id: id }
                    }).done(function (response) {
                        if (response != 0) {
                            console.log("Sukces! Usunięto kategorię." + response);
                            console.dir(arguments);
                            toDelete.remove();
                        }
                        else {
                            console.log("Lipa! Nie usunięto rekordu" + response);
                            console.dir(arguments);
                        }

                    }).fail(function (jqXHR, textStatus) {
                        console.log("No i klops!" + jqXHR + textStatus);
                        console.dir(arguments);
                    });
                }
            });

            $("#expenseCatsList").on('click', ".deleteBtn", function () {
                var button = $(this);
                var category = button.parents().eq(1).siblings('.category').text();
                var toDelete = button.closest('tr');
                if (confirmDelete()) {
                    $.ajax({
                        url: "/Settings/removeExpenseCategory",
                        type: "POST",
                        dataType: 'json',
                        data: { name: category }
                    }).done(function (response) {
                        if (response == true) {
                            console.log("Sukces! Usunięto kategorię: " + category + response);
                            toDelete.remove();
                        }
                        else
                            console.log("Lipa! Nie usunięto rekordu" + response);
                        console.dir(arguments);
                    }).fail(function (response) {
                        console.log("No i klops!");
                        console.dir(arguments);
                    });
                }
            });

            $("#paymentMetsList").on('click', ".deleteBtn", function () {
                var button = $(this);
                var category = button.parent('td').siblings('.category').text();
                var toDelete = button.closest('tr');
                if (confirmDelete()) {
                    $.ajax({
                        url: "/Settings/removePaymentMethod",
                        type: "POST",
                        dataType: 'json',
                        data: { name: category }
                    }).done(function (response) {
                        if (response == true) {
                            console.log("Sukces! Usunięto kategorię: " + category + response);
                            toDelete.remove();
                        }
                        else
                            console.log("Lipa! Nie usunięto rekordu" + response);
                        console.dir(arguments);
                    }).fail(function (response) {
                        console.log("No i klops!");
                        console.dir(arguments);
                    });
                }
            });

            // Edit categories------------------------------------------------------------------------
            $("#expenseCatsList").on('click', ".editBtn", function () {
                let button = $(this);
                var category = button.parents().eq(1).siblings('.category').text();
                console.log(category);
                var blockedFunds = +(button.parents().eq(1).siblings('.blockedFunds').text());
                console.log(blockedFunds);
                var toEdit = button.closest('tr');
                console.log(toEdit);
                var id = toEdit.data('catid');
                console.log(id);
                confirmEdit(id, category, blockedFunds);
            });

            $('#updateExpenseForm').on('submit', function (e) {
                e.preventDefault();
                var data = $('#updateExpenseForm').serialize();
                console.log(data);
                if (true) {
                    $.ajax({
                        url: "/Settings/editExpenseCategory",
                        type: "POST",
                        dataType: 'json',
                        data: data
                    }).done(function (response) {
                        if (response == true) {
                            console.log("Sukces!" + response);
                            $('#editModal').modal('hide');
                            $('#updateExpenseForm')[0].reset();
                            $('#expenseCatsList').append(response);
                        }
                        else
                            console.log("Lipa! Nie edytowano rekordu" + response);
                        console.dir(arguments);
                    }).fail(function (response) {
                        console.log("No i klops!" + response);
                        console.dir(arguments);
                    })
                }
            });

            $("#paymentMetsList").on('click', ".editBtn", function () {
                var button = $(this);
                var category = button.parent('.btn-group').siblings('.category').text();
                var toEdit = button.closest('li');
                if (confirmEdit()) {
                    $.ajax({
                        url: "/Settings/editPaymentMethod",
                        type: "POST",
                        dataType: 'json',
                        data: { name: category }
                    }).done(function (response) {
                        if (response == true) {
                            console.log("Sukces! Usunięto kategorię: " + category + response);
                            toDelete.remove();
                        }
                        else
                            console.log("Lipa! Nie usunięto rekordu" + response);
                        console.dir(arguments);
                    }).fail(function (response) {
                        console.log("No i klops!");
                        console.dir(arguments);
                    });
                }
            });

            function confirmEdit($id, $category, $blockedFunds) {
                $('#id').val($id);
                $('#name').val($category);
                $('#blockedFunds').val($blockedFunds);
                if ($blockedFunds > 0) {
                    $('#fundsBlockCheckbox').attr("checked", true);
                } else {
                    $('#fundsBlockCheckbox').attr("checked", false);
                }
                $('#editModal').modal('toggle');
            }
            //Add categories------------------------------------------------------------------------



            function setData($id, $category, $blockedFunds) {
                $('#id').val($id);
                $('#name').val($category);
                $('#blockedFunds').val($blockedFunds);
                if ($blockedFunds > 0) {
                    $('#fundsBlockCheckbox').attr("checked", true);
                } else {
                    $('#fundsBlockCheckbox').attr("checked", false);
                }
                $('#addModal').modal('toggle');
            }
        });

    </script>
    {% endblock %}