{% extends 'base.html' %}
{% block title %}Coiny - Ustawienia{% endblock %}
{% block body %}
<div class="container-fluid mainContent justify-content-center">
    <div class="text-center">
        <h1>Ustawienia</h1>
        <!--   <form action="/Settings/editExpenseCategoryAjax" method="post">
            <input type="number" class="form-control" id="id" name="id" placeholder="Id">
            <div class="form-group">
                <label for="name" class="col-form-label">Nazwa
                    kategorii</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa">
            </div>
            <hr>
            <div class="form-check">
                <input id="fundsBlockCheckbox" class="form-check-input" type="checkbox" name="fundsBlockCheckbox">
                <label class="form-check-label" for="fundsBlockCheckbox">Chcę dodać limit
                    funduszy</label>
            </div>
            <div class="form-group">
                <label for="blockedFunds" class="col-form-label">Podaj limit</label>
                <input type="number" id="blockedFunds" class="form-control" step="0.01" name="blockedFunds"
                    placeholder="Kwota" disabled="disabled">
            </div>
            <div class="d-flex justify-content-around">
                <input type="submit" class="mainBtn" id="submitAdd" value="DODAJ">
                <button type="button" class="mainBtn cancel" id="cancelAdd" data-dismiss="modal">ANULUJ</button>
            </div>
        </form>-->
    </div>
    <div class="accordion" id="settingsCategories">
        <div class="card">
            <div class="card-header" id="headingIncomes">
                <h2 class="mb-0">
                    <button id="incomesBtn" class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#incomeCategories" aria-expanded="true" aria-controls="incomeCategories">
                        Kategorie przychodów
                    </button>
                </h2>
            </div>
            <div id="incomeCategories" class="collapse" aria-labelledby="headingIncomes"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="incomeCatsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if incomeCategories is not empty %}
                            {% for category in incomeCategories %}
                            <tr data-catId="{{ category.id }}">
                                <td class='category'>{{ category.name }} </td>
                                <td>
                                    <div class='btn-group' role='group' aria-label='buttonsGroup'>
                                        <button type='button' class='settingsBtn deleteBtn'><i
                                                class='icon-trash'></i></button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <button id="newIncomeCategory" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową
                        kategorię</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingExpenses">
                <h2 class="mb-0">
                    <button id="expensesBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#expenseCategories" aria-expanded="false" aria-controls="expenseCategories">
                        Kategorie wydatków
                    </button>
                </h2>
            </div>
            <div id="expenseCategories" class="collapse" aria-labelledby="headingExpenses"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="expenseCatsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Edytuj/Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if expenseCategories is not empty %}
                            {% for category in expenseCategories %}
                            <tr data-catId="{{ category.id }}">
                                <td class='category'>{{ category.name }} </td>
                                <td class='blockedFunds'>{{ category.blocked_funds }}</td>
                                <td>
                                    <div class='btn-group' role='group' aria-label='buttonsGroup'>
                                        <button type='button' class='settingsBtn editBtn'><i
                                                class='icon-edit'></i></button>
                                        <button type='button' class='settingsBtn deleteBtn'><i
                                                class='icon-trash'></i></button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <button id="newExpenseCategory" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową
                        kategorię</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingPayments">
                <h2 class="mb-0">
                    <button id="paymentsBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#paymentMethods" aria-expanded="false" aria-controls="paymentMethods">
                        Metody płatności
                    </button>
                </h2>
            </div>
            <div id="paymentMethods" class="collapse" aria-labelledby="headingPayments"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <table class="table" id="paymentMetsList">
                        <thead>
                            <tr>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Limit</th>
                                <th scope="col">Edytuj/Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if paymentMethods is not empty %}
                            {% for method in paymentMethods %}
                            <tr data-catId="{{ method.id }}">
                                <td class='category'>{{ method.name }} </td>
                                <td class='blockedFunds'>{{ method.blocked_funds }}</td>
                                <td>
                                    <div class='btn-group' role='group' aria-label='buttonsGroup'>
                                        <button type='button' class='settingsBtn editBtn'><i
                                                class='icon-edit'></i></button>
                                        <button type='button' class='settingsBtn deleteBtn'><i
                                                class='icon-trash'></i></button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <button id="newPaymentMethod" class="mainBtn"><i class="icon-plus-circle"></i>Dodaj nową metodę
                        płatności</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingPassword">
                <h2 class="mb-0">
                    <button id="passwordBtn" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#forgottenPassword" aria-expanded="false" aria-controls="forgottenPassword">
                        Zresetuj hasło
                    </button>
                </h2>
            </div>
            <div id="forgottenPassword" class="collapse" aria-labelledby="headingPassword"
                data-parent="#settingsCategories">
                <div class="card-body">
                    <form action="/password/request-reset" method="post">
                        <div class="form-group">
                            <label>Podaj adres email, na który mamy przysłać kod do zmiany hasła:</label>
                            <input class="form-control inputSlot" name="email" type="email" placeholder="Email"
                                value="{{ email }}">
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <input class="mainBtn" type="submit" name="submit" value="Wyślij">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '/Modals/addCategoryModal.html'%}
{% include '/Modals/editCategoryModal.html'%}
{% include '/Modals/confirmModal.html'%}
{% include '/Modals/alterTransactionsModal.html'%}
{% include '/Modals/editIncomeModal.html'%}
{% include '/Modals/settingsPartialViews.html'%}


{% endblock %}
{% block footer %}
<!--<script src="/js/getCategories.js"></script>-->
<script src="/js/addCategory.js"></script>
<script src="/js/editCategory.js"></script>
<script src="/js/deleteCategory.js"></script>
<script src="/js/deleteIncomeCategory.js"></script>
<script src="/js/deleteExpenseCategory.js"></script>
<script src="/js/deletePaymentCategory.js"></script>
<script src="/js/deleteTransaction.js"></script>
<script>
</script>
{% endblock %}