{% extends 'base.html' %}
{% block title %}Coiny - Przychody{% endblock %}
{% block body %}
<div class="container-fluid mainContent justify-content-center">
    <div class="info-board d-flex justify-content-between text-center mb-3">
        <div class="totalIncomesBox">
            <h3>SUMA PRZYCHODÓW</h3>
            <p class="incomeBox">w poprzednim miesiącu</p>
            <p class='incomeBoxInt'>{{ totalAmount }}</p>
        </div>
    </div>
    <div class="info-board">
        <div class="d-flex row justify-content-left">
            <button class="mainBtn showTransactionsBtn" type="button"
                onclick="location.href='showThisWeekIncomes.php'">Bieżący tydzień</button>
            <button class="mainBtn showTransactionsBtn" type="button"
                onclick="location.href='showThisMonthIncomes.php'">Bieżący miesiąc</button>
            <button class="mainBtn showTransactionsBtn" type="button"
                onclick="location.href='showThisMonthIncomes.php'">Poprzedni miesiąc</button>
            <button class="mainBtn showTransactionsBtn" type="button" data-toggle="collapse"
                data-target="#collapseChoosePeriod" aria-expanded="false" aria-controls="collapseChoosePeriod">Wybierz
                okres</button>
        </div>
        <div class="collapse" id="collapseChoosePeriod">
            <div class="card card-body mt-2">
                <form action="showChosenPeriodIncomes.php" method="post">
                    <div class="form-group">
                        <label>Podaj datę początkową</label>
                        <input class="form-control" type="date" name="startingDate">
                    </div>
                    <div class="form-group">
                        <label>Podaj datę końcową</label>
                        <input class="form-control" type="date" name="endingDate">
                    </div>
                    <input class="mainBtn" type="submit" name="submit" value="Wybierz">
                </form>
            </div>
        </div>
    </div>
    <div>
        <table class="table bg-light table-striped">
            <thead>
                <tr>
                    <th scope="col">Wysokość przychodu</th>
                    <th scope="col">Data</th>
                    <th scope="col">Rodzaj przychodu</th>
                    <th scope="col">Komentarz</th>
                </tr>
            </thead>
            <tbody>
                {% if incomes is not empty %}
                {% for income in incomes %}
                <tr>
                    <td>{{ income.money }}</td>
                    <td>{{ income.date }}</td>
                    <td>{{ income.name }}</td>
                    <td>{{ income.comment }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}