{% extends 'base.html' %}
{% block body %}
<div class="container-fluid mainContent justify-content-center">
    <div class="info-board d-flex justify-content-between text-center mb-3">
        <div class="totalIncomesBox">
            <h3>SUMA PRZYCHODÓW</h3>
            <p class="incomeBox">w poprzednim miesiącu</p>
            <p class='incomeBoxInt'>{{ totalAmount }}</p>
        </div>
    </div>
    <div class="info-board">
        <ul class="nav nav-tabs" id="tableTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="theWeekTab" href="/incomes/showThisWeekIncomes">Bieżący tydzień</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/incomes/showThisMonthIncomes">Bieżący miesiąc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/incomes/showLastMonthIncomes">Poprzedni miesiąc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#collapseChoosePeriod" aria-expanded="false"
                    aria-controls="collapseChoosePeriod">Wybierz okres</a>
            </li>
        </ul>
        <div class="collapse" id="collapseChoosePeriod">
            <div class="card card-body mt-2">
                <form action="/incomes/showChosenPeriodIncomes" method="post">
                    <div class="form-group">
                        <label>Podaj datę początkową</label>
                        <input class="form-control" type="date" name="startingDate">
                    </div>
                    <div class="form-group">
                        <label>Podaj datę końcową</label>
                        <input class="form-control" type="date" name="endingDate">
                    </div>
                    <input class="mainBtn" type="submit" name="submit" value="Wybierz">
                </form>
            </div>
        </div>
        <table class="table bg-light table-striped incomeTable">
            <thead>
                <tr>
                    <th scope="col">Wysokość przychodu</th>
                    <th scope="col">Data</th>
                    <th scope="col">Rodzaj przychodu</th>
                    <th scope="col">Komentarz</th>
                </tr>
            </thead>
            <tbody>
                {% if incomes is not empty %}
                {% for income in incomes %}
                <tr>
                    <td>{{ income.money }}</td>
                    <td>{{ income.date }}</td>
                    <td>{{ income.name }}</td>
                    <td>{{ income.comment }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}