{% extends 'base.html' %}
{% block title %}Coiny - Dodaj przychód{% endblock %}
{% block footer %}

<script src="/js/addIncome.js"></script>

{% endblock %}
{% block body %}
<div class="container-fluid mainContent justify-content-center">
    <!--  <div class="">
        {% if IncomeWithInvoice.errors is not empty %}
        <p>Błędy:</p>
        <ul>
            {% for error in IncomeWithInvoice.errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>-->

    <div class="formWrapper">
        <div class="text-center">
            <h4>DODAJ PRZYCHÓD</h4>
        </div>
        <form method="post" id="addIncomeForm">

            <div class="form-group">
                <input class="form-control inputSlot" type="number" min="0" step="0.01" id="money" name="money"
                    placeholder="Kwota">
                <label>KWOTA</label>

            </div>
            <div class=" form-group">
                <label>Podaj datę uzyskania przychodu</label>
                <input class="form-control inputSlot" id="incomeDate" type="date" name="incomeDate">
            </div>
            <div class="form-group">
                <label for="category">Wybierz z listy rodzaj przychodu</label>
                <select id="category" class="form-control custom-select inputSlot" name="category">

                </select>
            </div>
            <div class="form-group">
                <label for="comment">Dodaj komentarz (opcjonalnie)</label>
                <textarea id="comment" class="form-control inputSlot" rows="4" name="comment">
                </textarea>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="invoiceCheckbox">Chcę dodać fakturę</label>
                <input id="invoiceCheckbox" type="checkbox" name="invoiceCheckbox">
            </div>
            <div class="hidden" id="invoiceDropdown">
                <div class="form-group">
                    <label>NUMER FAKTURY</label>
                    <input id="invoiceNumber" class="form-control inputSlot" type="text" name="invoiceNumber">
                </div>
                <div class="form-group">
                    <label>KONTRAHENT</label>
                    <input id="contractor" class="form-control inputSlot" type="text" name="contractor">
                </div>
                <div class="form-group">
                    <label>Podaj datę płatności faktury</label>
                    <input class="form-control inputSlot" type="date" id="invoicePayDate" name="invoicePayDate">
                </div>
            </div>
            <div class="d-flex row justify-content-around pt-4">
                <input type="submit" class="mainBtn" id="submitBtn" name="submit" value="DODAJ">
                <button type="button" class="mainBtn" data-dismiss="modal">ANULUJ</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}