{% extends 'base.html' %}
{% block title %}Coiny - Dodaj przychód{% endblock %}
{% block footer %}
<script src="/js/addIncome.js"></script>
{% endblock %}
{% block body %}
<div class="container-fluid mainContent justify-content-center bg-light">
    <div class="row justify-content-center">
        <h4>DODAJ PRZYCHÓD</h4>
    </div>
    <form method="post" id="addIncomeForm">
        <div class="row">
            <div class="transactionFormWrapper">
                <div class="form-group">
                    <label for="money">KWOTA</label>
                    <input id="money" class="form-control inputSlot" type="number" min="0" step="0.01" name="money"
                        placeholder="Kwota">
                </div>
                <div class="form-group">
                    <label for="incomeDate">DATA</label>
                    <input id="incomeDate" class="form-control inputSlot" type="date" name="incomeDate">
                </div>
                <div class="form-group">
                    <label for="category">KATEGORIA</label>
                    <select id="incomeCategory" class="form-control custom-select inputSlot" name="incomeCategory">
                        {% for category in incomeCategories %}
                        <option>{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="comment">KOMENTARZ (opcjonalny)</label>
                    <textarea id="comment" class="form-control inputSlot" rows="4" name="comment"></textarea>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="invoiceCheckbox">Chcę dodać fakturę</label>
                    <input id="invoiceCheckbox" type="checkbox" name="invoiceCheckbox">
                </div>
            </div>
            <div class="invoiceFormWrapper hidden" id="invoiceDropdown">
                <div class="form-group">
                    <label for="invoiceNumber">NUMER FAKTURY</label>
                    <input id="invoiceNumber" class="form-control inputSlot" type="text" name="invoiceNumber">
                </div>
                <div class="form-group">
                    <label for="contractor">KONTRAHENT</label>
                    <input id="contractor" class="form-control inputSlot" type="text" name="contractor">
                </div>
                <div class="form-group">
                    <label for="invoicePayDate">TERMIN PŁATNOŚCI</label>
                    <input id="invoicePayDate" class="form-control inputSlot" type="date" name="invoicePayDate">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <input type="submit" class="mainBtn" name="submit" value="DODAJ">
        </div>
    </form>
</div>
{% endblock %}