<div class="modal fade" id="addIncomeCategoryModal" data-keyboard="false" data-backdrop="static" tabindex="-1"
    role="dialog" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryLabel">Dodaj kategorię</h5>
            </div>
            <div class="modal-body">
                <form method="post" id="addIncomeCategoryForm">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Nazwa
                            kategorii</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa">
                    </div>
                    <div class="d-flex justify-content-around">
                        <input type="submit" class="mainBtn" id="submitAdd" value="DODAJ">
                        <button type="button" class="mainBtn cancel" id="cancelAdd" data-dismiss="modal">ANULUJ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addExpenseCategoryModal" data-keyboard="false" data-backdrop="static" tabindex="-1"
    role="dialog" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCategoryLabel">Dodaj kategorię</h5>
            </div>
            <div class="modal-body">
                <form method="post" id="addExpenseCategoryForm">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Nazwa
                            kategorii</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nazwa">
                    </div>
                    <hr>
                    <div class="form-check">
                        <input id="fundsBlockCheckbox" class="form-check-input" type="checkbox"
                            name="fundsBlockCheckbox">
                        <label class="form-check-label" for="fundsBlockCheckbox">Chcę dodać limit
                            funduszy</label>
                    </div>
                    <div class="form-group">
                        <label for="blockedFunds" class="col-form-label">Podaj limit</label>
                        <input type="number" id="blockedFunds" class="form-control" step="0.01" name="blockedFunds"
                            placeholder="Kwota" disabled="disabled">
                    </div>
                    <div class="d-flex justify-content-around">
                        <input type="submit" class="mainBtn" id="submitAdd" value="DODAJ">
                        <button type="button" class="mainBtn cancel" id="cancelAdd" data-dismiss="modal">ANULUJ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>