<div class="modal fade" id="alterTransactionsModal" tabindex="-1" role="dialog"
    aria-labelledby="alterTransactionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row justify-content-center pt-3">
                <p class="modal-title text-center">Do kategorii przypisane są transakcje.
                    Edytuj lub usuń wpisy przed usunięciem kategorii.</p>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="transactionsWrapper">

            </div>
            <!-- Modal footer -->
            <div class="modal-footer justify-content-center">
                <button type="button" class="mainBtn cancelBtn" data-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>