<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center mt-3">
                <p id="question"></p>
                <form method="post" id="confirmForm">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="confirmFormId" name="confirmFormId" value="">
                    </div>
                    <div class="d-flex justify-content-around">
                        <input type="submit" class="mainBtn" id="confirmBtn" value="Potwierdzam">
                        <button type="button" class="mainBtn cancelBtn" id="cancelAdd"
                            data-dismiss="modal">Anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>