<div class="modal fade" id="editModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edytuj kategorię</h5>
            </div>
            <div class="modal-body mx-4">
                <form method="post" id="updateForm">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" name="id">
                    </div>
                    <div class="form-group">
                        <label for="categoryName" class="col-form-label">Nazwa
                            kategorii</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="fundsBlockCheckbox" name="wantFundsBlock">
                        <label class="form-check-label" for="fundsBlockCheckbox">Chcę dodać limit
                            funduszy</label>
                    </div>
                    <div class="form-group">
                        <label for="blockedFunds" class="col-form-label">Podaj limit</label>
                        <input type="number" class="form-control" id="blockedFunds" step="0.01" name="blockedFunds"
                            disabled="disabled">
                    </div>
                    <div class="d-flex justify-content-around">
                        <input type="submit" class="mainBtn" id="submitEdit" value="Edytuj">
                        <button type="button" class="mainBtn" id="cancelEdit" data-dismiss="modal">Anuluj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>