<div class="modal fade" id="editExpenseModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="editExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content px-2 px-sm-4">
            <div class="modal-header justify-content-center ml-2">
                <h4 class="modal-title">EDYTUJ WYDATEK</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body mx-2">
                <form method="post" id="editExpenseForm">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" name="id">
                    </div>
                    <div class="form-group">
                        <label for="money">KWOTA</label>
                        <input id="money" class="form-control inputSlot" type="number" min="0" step="0.01" name="money"
                            placeholder="Kwota">
                    </div>
                    <div class="form-group">
                        <label for="expenseDate">DATA</label>
                        <input id="expenseDate" class="form-control inputSlot" type="date" name="expenseDate">
                    </div>
                    <div class="form-group">
                        <label for="paymentMethod">METODA PŁATNOŚCI</label>
                        <select id="paymentMethod" class="form-control custom-select inputSlot"
                            name="paymentMethod"></select>
                    </div>
                    <div class="form-group">
                        <label for="expenseCategory">RODZAJ WYDATKU</label>
                        <select id="expenseCategory" class="form-control custom-select inputSlot"
                            name="expenseCategory"></select>
                    </div>
                    <div class="form-group">
                        <label>KOMENTARZ (opcjonalnie)</label>
                        <textarea id="comment" class="form-control inputSlot" rows="3" name="comment"></textarea>
                    </div>
                    <div class="d-flex row justify-content-around pt-4">
                        <button type="button" class="mainBtn cancelBtn" data-dismiss="modal">ANULUJ</button>
                        <input type="submit" class="mainBtn" name="submit" value="EDYTUJ">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>