<div id="editIncomeCategoryBlock" class="d-none">
    <p class="d-block text-center">Wybierz nową kategorię:</p>
    <form method="post" id="updateIncomeForm">
        <div class="form-group">
            <label for="category">KATEGORIA</label>
            <select id="category" class="form-control custom-select inputSlot" name="category">
            </select>
        </div>
        <div class="row justify-content-center btnGroup">
            <input type="submit" class="mainBtn" name="submit" value="DODAJ">
            <button type="button" class="mainBtn cancelEditBtn">ANULUJ</button>
        </div>
    </form>
</div>

<div id="editExpenseCategoryBlock" class="d-none">
    <p class="d-block text-center">Wybierz nową kategorię:</p>
    <form method="post" id="updateExpenseForm">
        <div class="form-group">
            <label for="category">KATEGORIA</label>
            <select id="category" class="form-control custom-select inputSlot" name="category">
            </select>
        </div>
        <div class="row justify-content-center btnGroup">
            <input type="submit" class="mainBtn" name="submit" value="DODAJ">
            <button type="button" class="mainBtn cancelEditBtn">ANULUJ</button>
        </div>
    </form>
</div>
<div id="editPaymentCategoryBlock" class="d-none">
    <p class="d-block text-center">Wybierz nową kategorię:</p>
    <form method="post" id="updateExpenseForm">
        <div class="form-group">
            <label for="category">METODA PŁATNOŚCI</label>
            <select id="category" class="form-control custom-select inputSlot" name="category">
            </select>
        </div>
        <div class="row justify-content-center btnGroup">
            <input type="submit" class="mainBtn" name="submit" value="DODAJ">
            <button type="button" class="mainBtn cancelEditBtn">ANULUJ</button>
        </div>
    </form>
</div>
<div id="confrimTransactionDeletion" class="d-none">
    <p class="d-block text-center">Czy na pewno chcesz usunąć transakcję?</p>
    <div class="row justify-content-center btnGroup">
        <button type="button" class="mainBtn confirmBtn">USUŃ</button>
        <button type="button" class="mainBtn cancelDeleteBtn">ANULUJ</button>
    </div>
</div>