{% block title %}Coiny - Wydatki{% endblock %}
{% extends 'base.html' %}
{% block body %}
<div class="container-fluid mainContent justify-content-center align-items-top">
    <div id="choiceMenuWrapper" class="row align-items-top">
        <div class="col-lg">
            <form id="selectDefaultForm">
                <select id="transactionsPeriod" class="custom-select" name="transactionsPeriod">
                    <option value="showThisWeekExpenses">Bieżący tydzień</option>
                    <option value="showThisMonthExpenses" selected>Bieżący miesiąc</option>
                    <option value="showLastMonthExpenses">Poprzedni miesiąc</option>
                </select>
            </form>
        </div>
        <div class="col-lg">
            <form id="periodForm" method="post">
                <div id="periodFormWrapper" class="form-row align-items-top ml-1 mt-2 mt-lg-0">
                    <label>OD</label>
                    <div class="form-group">
                        <input id="startingDate" class="form-control" type="date" name="startingDate">
                    </div>
                    <label>DO</label>
                    <div class="form-group">
                        <input id="endingDate" class="form-control" type="date" name="endingDate">
                    </div>
                    <div class="form-group">
                        <input class="secondaryBtn" type="submit" name="submit" value="Wybierz">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-3">
        <table id="expensesTable" class="table bg-light expenseTable">
            <thead>
                <tr>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Data</th>
                    <th scope="col">Płatność</th>
                    <th scope="col">Kwota</th>
                    <th scope="col">Komentarz</th>
                    <th scope="col">Edytuj/Usuń</th>
                </tr>
            </thead>
            <tbody>
                {% if expenses is not empty %}
                {% for expense in expenses %}
                <tr>
                <tr data-catid="{{ expense.id }}">
                    <td class="expenseCategory">{{ expense.category }}</td>
                    <td class="expenseDate">{{ expense.date }}</td>
                    <td class="paymentMethod">{{ expense.method }}</td>
                    <td class="money"><strong>{{ expense.money }}</strong></td>
                    {% if expense.comment is not null %}
                    <td class="comment">{{ expense.comment }}</td>
                    {% else %}
                    <td class="comment">brak</td>
                    {% endif %}
                    <td>
                        <button type="button" class="settingsBtn editExpenseBtn"><i class="icon-edit"></i></button>
                        <button type="button" class="settingsBtn deleteExpenseBtn"><i class="icon-trash"></i></button>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% include '/Modals/editExpenseModal.html' %}
{% include '/Modals/confirmModal.html' %}
{% endblock %}
{% block footer %}
<script src="/js/displayExpenses.js"></script>
<script src="/js/editExpense.js"></script>
<script src="/js/deleteTransaction.js"></script>
<script src="/js/getCategories.js"></script>
{% endblock %}