{% extends 'base.html' %}
{% block body %}
<div class="container-fluid mainContent justify-content-center">
    <div class="info-board d-flex justify-content-between text-center mb-3">
        <div class="totalIncomesBox">
            <h3>SUMA WYDATKÓW</h3>
            <p class="incomeBox">w bieżącym tygodniu</p>
            <p class='incomeBoxInt'>{{ totalAmount }}</p>
        </div>
    </div>
    <div class="info-board">
        <ul class="nav nav-tabs" id="tableTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="theWeekTab" href="/expenses/showThisWeekExpenses" role="tab"
                    aria-controls="nav-home" aria-selected="true">Bieżący tydzień</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/expenses/showThisMonthExpenses">Bieżący miesiąc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/expenses/showLastMonthExpenses">Poprzedni miesiąc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#collapseChoosePeriod" aria-expanded="false"
                    aria-controls="collapseChoosePeriod">Wybierz okres</a>
            </li>
        </ul>
        <div class="collapse" id="collapseChoosePeriod">
            <div class="card card-body mt-2">
                <form action="/expenses/showChosenPeriodExpenses" method="post">
                    <div class="form-group">
                        <label>Podaj datę początkową</label>
                        <input class="form-control" type="date" name="startingDate">
                    </div>
                    <div class="form-group">
                        <label>Podaj datę końcową</label>
                        <input class="form-control" type="date" name="endingDate">
                    </div>
                    <input class="mainBtn" type="submit" name="submit" value="Wybierz">
                </form>
            </div>
        </div>
        <table class="table bg-light table-striped expenseTable">
            <thead>
                <tr>
                    <th scope="col">Kwota</th>
                    <th scope="col">Data</th>
                    <th scope="col">Sposób płatności</th>
                    <th scope="col">Rodzaj przychodu</th>
                    <th scope="col">Komentarz</th>
                </tr>
            </thead>
            <tbody>
                {% if expenses is not empty %}
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.money }}</td>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.method }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.comment }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}