<!DOCTYPE html>
<html lang="pl">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Zbuduj oszczędności życia z pomocą tej aplikacji." />
    <meta name="keywords" content="oszczędności, oszczędzanie, bilans przychodów i wydatków" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Spartan:400,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/css/fontello/css/fontello.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {% if flash_messages is not empty %}
    {% for message in flash_messages %}
    <div class="alert alert-{{message.type}} alert-dismissible fade show text-center" role="alert">
        <p>
            {{ message.body }}
        </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-center main-menu hidden" id="sidebar">
        <nav>
            <div>
                <img class="d-block mx-auto logo" src="/img/coiny.png">
            </div>
            <div class="d-flex justify-content-center" id="navCollapse">
                <h2>MENU</h2>
                <div class="d-flex arrow"></div>
            </div>
            <ul class="nav text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">Przeglądaj bilans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/incomes/new">Dodaj przychód</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" href="/expenses/new">Dodaj wydatek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/incomes/showThisMonthIncomes">Przeglądaj przychody</a>
                </li>
                <li class=" nav-item">
                    <a class="nav-link" href="/expenses/showThisMonthExpenses">Przeglądaj wydatki</a>
                </li>
                <li class="nav-item">
                    <a href="#invoiceSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Przeglądaj faktury</a>
                    <ul class="collapse list-unstyled" id="invoiceSubmenu">
                        <li>
                            <a class="nav-link" href="/invoices/showThisMonthIncomeInvoices">Wystawione</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/invoices/showThisMonthExpenseInvoices">Otrzymane</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings/index">Ustawienia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Wyloguj</a>
                </li>
            </ul>
        </nav>
    </div>
    {% block body %}
    {% endblock %}
    <!-- Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="/js/validationPolishMessages.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>

    {% block footer %}
    {% endblock %}
</body>

</html>