{% extends 'base.html' %}
{% block title %}Coiny - Ustawienia{% endblock %}
{% block body %}
<h1>Profil</h1>
<dl>
    <dt>Name</dt>
    <dd>{{ user.email }}</dd>
    <dt>Email</dt>
    <dd>{{ user.email }}</dd>
</dl>

<div class="row mx-auto">
    <h1>Ustawienia</h1>
</div>
<div class="row mx-auto">
    <div class="col-md-3">
        <h2>
            <a class="" data-toggle="collapse" href="#collapseIncomesSettings" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Kategorie przychodów &or;
            </a>
        </h2>
        <div class="collapse-sm" id="collapseIncomesSettings">
            <div class="row py-2">
                <li class=" px-2">%s</li><button class="btn btnSpecified btn-sm">USUŃ</button>
            </div>'
        </div>
    </div>
    <div class="col-md-3">
        <h2>
            <a class="" data-toggle="collapse" href="#collapseExpensesSettings" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Kategorie wydatków &or;
            </a>
        </h2>
        <div class="collapse-sm" id="collapseExpensesSettings">
            <div class="row py-2">
                <li class=" px-2">%s</li><button class="btn btnSpecified btn-sm">USUŃ</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h2>
            <a class="" data-toggle="collapse" href="#collapsePasswordSettings" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Zmiana hasła &or;
            </a>
        </h2>
        <div class="collapse-sm" id="collapsePasswordSettings">
        </div>
    </div>
</div>

{% endblock %}